.prj {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}

.prj-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
}

.prj-name {
  font-size: calc(var(--font-size) + 2px);
  font-weight: bold;
  text-transform: uppercase;
}

.prj-time {
  font-weight: bold;
  min-width: max-content;
}

.prj-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;

  a {
    color: var(--secondary);
  }
}

.prj-images {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.prj-image {
  width: 100%;
  padding-bottom: 20px;
}
